# Rust web framework comparison

A comparison of some web frameworks written in [Rust](https://www.rust-lang.org).

This overview only contains frameworks that work on stable Rust.

## Table of Contents

- [Rust web framework comparison](#rust-web-framework-comparison)
  - [Table of Contents](#table-of-contents)
  - [Frontend frameworks (WASM)](#frontend-frameworks-wasm)
    - [Outdated frontend frameworks](#outdated-frontend-frameworks)
  - [Server frameworks](#server-frameworks)
    - [High-Level Server Frameworks](#high-level-server-frameworks)
    - [Low-Level Frameworks](#low-level-frameworks)
    - [Outdated server frameworks](#outdated-server-frameworks)
  - [Client frameworks](#client-frameworks)
    - [Outdated client frameworks](#outdated-client-frameworks)
  - [Supplemental libraries](#supplemental-libraries)
    - [Templating](#templating)
    - [Websocket Libraries](#websocket-libraries)

## Frontend frameworks (WASM)

Since [WASM](http://webassembly.org/) support is available in most browsers we can use Rust to build web applications :)

{{ frontend_frameworks }}

### Outdated frontend frameworks

{{ outdated_frontend_frameworks }}

## Server frameworks

### High-Level Server Frameworks

This overview only contains frameworks that support async execution.

{{ server }}

### Low-Level Frameworks

{{ low_level_server }}

### Outdated server frameworks

- [civet](https://github.com/wycats/rust-civet)
- [conduit](https://github.com/conduit-rust/conduit)
- [cargonaouts](https://github.com/cargonauts-rs/cargonauts)
- [hydrogen](https://github.com/nathansizemore/hydrogen)
- [iron](https://github.com/iron/iron)
- [kinglet](https://github.com/pyfisch/kinglet)
- [nickel](https://github.com/nickel-org/nickel.rs/)
- [rouille](https://github.com/tomaka/rouille)
- [rustless](https://github.com/rustless/rustless)
- [rustful](https://github.com/Ogeon/rustful)
- [shio](https://github.com/mehcode/shio-rs)
- [sappers](https://github.com/sappworks/sapper)
- [solicit](https://github.com/mlalic/solicit)
- [tower-web](https://github.com/carllerche/tower-web)
- [tk-http](https://github.com/swindon-rs/tk-http)

## Client frameworks

To build web clients with Rust, you can choose between these libraries:

- **reqwest**    (-                             / [repository](https://github.com/seanmonstar/reqwest)             / [documentation](https://docs.rs/reqwest))
- **awc**        (-                             / [repository](https://github.com/actix/actix-web/tree/master/awc) / [api docs](https://docs.rs/awc))
- **hyper**      ([homepage](http://hyper.rs/)  / [repository](https://github.com/hyperium/hyper)                  / [documentation](http://hyper.rs/hyper/hyper/))
- **jsonrpc**    (-                             / [repository](https://github.com/apoelstra/rust-jsonrpc/        ) / [documentation](https://www.wpsoftware.net/rustdoc/jsonrpc/))

### Outdated client frameworks

- [ease](https://github.com/SimonPersson/ease)

## Supplemental libraries

### Templating

{{ templating }}

### Websocket Libraries

{{ websocket }}
